.footer_container {
    background: #dbeafe;
    margin-top: auto;
    color: #000;
    .inner {
        display: flex;
        align-items: center;
        justify-content: space-between;
        .copyright {
            font-size: 14px;
        }
        .logo {
            padding: 20px 0;
            @media (max-width: 576px) {
                padding: 0;
            }
        }
        .nav_list {
            display: flex;
            list-style-type: none;
            padding: 0;
            .nav_list_item {
                margin: 0 16px;
            }
            @media (max-width: 576px) {
                flex-direction: column;
                .nav_list_item {
                    margin: 16px 0;
                    text-align: center;
                }
            }
        }
        .socials {
            margin: 0;
            display: flex;
            list-style-type: none;
            padding: 0;
            .socials_item {
                margin: 0 16px;
                @media (max-width: 576px) {
                    margin: 0 10px;
                    svg {
                        height: 24px;
                        width: 24px;
                    }
                }
            }
        }
    }
    .bottom {
        padding: 42px 0;
        border-top: 1.25px solid rgba(255, 255, 255, 0.2);
        @media (max-width: 576px) {
            padding: 24px 0;
        }
        & > div {
            display: flex;
            justify-content: space-between;
            align-items: flex-end;
            @media (max-width: 576px) {
                align-items: center;
            }
        }
        .copyright {
            @media (max-width: 576px) {
                font-size: 14px;
            }
        }
        .socials {
            margin: 0;
            display: flex;
            list-style-type: none;
            padding: 0;
            .socials_item {
                margin: 0 16px;
                @media (max-width: 576px) {
                    margin: 0 10px;
                    svg {
                        height: 24px;
                        width: 24px;
                    }
                }
            }
        }
    }
}
